<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-md
  text-gray-800 dark:text-white transition
  bg-gray-100  dark:bg-gray-800 
  hover:bg-gray-300 hover:border-gray-700 dark:hover:bg-gray-500 group 
  ring-1 ring-gray-300 dark:ring-gray-600 hover:ring-cyan-400 dark:hover:ring-cyan-400 rounded-full 
  max-w-fit  focus:outline-none focus-visible:outline-none focus-visible:ring  focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>
